<form method="POST" action="/add/{{document.id}}?_method=PUT">
<input type="hidden" name="_method" value="PUT">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">商品名称：</label>
    <div class="col-sm-10">
      {{#if document}}
        <input type="text" class="form-control" id="inputEmail3" name="title" value="{{document.title}}" />
      {{else}}
        <input type="text" class="form-control" id="inputEmail3" name="title" value="{{document.title}}" />
      {{/if}}
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">描述</label>
    <div class="col-sm-10">
      {{#if document}}
        <textarea class="form-control" id="inputPassword3" name="details">{{document.details}}</textarea>
      {{else}}
        <textarea class="form-control" id="inputPassword3" name="details"></textarea>
      {{/if}}
      
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>